div.searchvalue {
    /* width: 100px; */
    /*overflow: auto !important;
    white-space: pre-wrap;*/
    overflow: visible !important;
    word-wrap: break-word !important;
    white-space: normal !important;
    /*margin-bottom: 10px;
    padding-bottom: 10px;*/
    /* min-height: 100px; */
    overflow-wrap: break-word !important;
    /* height: min-content; */
    -webkit-appearance: none !important;
}

li[aria-selected=true] > div {
   background-color: #419cf9;
   color: #fff;
   text-decoration: none;
}

li, span.option_text {
    max-width: 100%;
    overflow: visible;
    word-wrap: break-word !important;
    white-space: normal;
    overflow-wrap: break-word;
    -webkit-appearance: none !important;
    line-height: 1;
}

div.disabled-field {
    background-color: #fff;
    border-color: #c9c7c5;
    cursor: not-allowed;
    opacity: 1;
}

@media (max-width: 430px) {
    div.nds-input {
        margin-top: 8px;
    }
    div.searchvalue {
        line-height: 1.2 !important;
    }
}
