.id-card-container {
    max-width: 1200px;
}

.id-card-wrap {
    position: relative;
}

.watermark-container {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    z-index: 99;
}

img.watermark {
    width: 100%;
    opacity: 0.5;
}

.id-card {
    position: relative;
    border: 3px solid;
    border-radius: 20px;
    padding: 28px 20px;
    max-width: 616px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: white;
    font-size: 19px;
    margin-left: auto;
    margin-right: auto;
}

.id-card-cta {
    width: 180px;
    margin-bottom: 22px;
}

.id-card-top {
    margin-bottom: 20px;
}

.id-card-logo-container {
    width: 40%;
}

.id-card-logo {
    height: 80px;
}

.id-card-cny-logo {
    height: 80px;
}

.id-card-suitcase-logo {
    padding-top: 8px;
    height: 40px;
}

.id-card-top .nds-text-align_right {
    text-align: right;
}

.id-card-body-extra {
    display: table-row;
}

.id-card-body-extra-field {
    display: table-cell;
    padding: 40px 40px 40px 0;
    color: #343741;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    text-align: left;
}

.id-card-body-mid-cell {
    display: table-cell;
    width: 5%;
}

.id-card-body-main {
    padding-left: 16px;
    letter-spacing: 0;
    line-height: 20px;
    color: #343741;
    display: table;
    max-width: 75%;
    width: 100%;
}

.id-card-body-main-data {
    margin-bottom: 15px;
    display: table-row;
}

.id-card-body-main-label {
    display: table-cell;
    border-top: medium solid #000;
    padding-right: 15px;
}

.id-card-body-main-value {
    display: table-cell;
    border-top: medium solid #000;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 47.5%;
}

.id-card-body-nth-line-item {
    padding-top: 5px;
}

.id-card-body-description-text {
    white-space: pre-wrap;
}

.id-card-body-commercial-description {
    font-style: italic;
}

.id-card-body-senior-description {
    vertical-align: bottom;
}

.id-card-body-bottom-value {
    border-bottom: medium solid #000;
}

.id-card-body-bold-text {
    font-weight: bold;
}

.id-card-bottom {
    display: table-row;
    margin-top: 10px;
}

.id-card-bottom-field {
    display: table-cell;
    padding-right: 20px;
    color: #343741;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    text-align: left;
}

.id-card-bottom div:last-child {
    padding: 0;
}

.id-card-save-button {
    text-align: right;
}
@media only screen and (max-width: 1023px) {
    .id-button-container {
        padding-left: 0;
    }
    .id-button-container div:last-child {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .id-card {
        font-size: 2vw;
        padding: 4% 7%;
    }
    .id-card-top {
        font-size: 2vw;
        margin-bottom: 6%;
    }
    .id-card-body-extra-field {
        padding: 7% 7% 7% 0;
    }
    .id-card-bottom-field {
        font-size: 1.9vw;
    }
    .id-button-container div:last-child {
        padding-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .id-card-save-button {
        text-align: left;
    }
    .hide-for-mobile {
        display: none;
    }
}

.hr-bold {
    height: 8px;
    border-width: 0;
    color: rgb(59, 59, 59);
    background-color: rgb(59, 59, 59);
}

.id-card-body-p{
    font-size: 16px;
}

.c-color-border-brand-blue{
    border-color: #206DB5;
}