.parent {
    position: relative;
    background: white;
    border: 5px dotted green;
}

.child{
    opacity: 0.8;
    background: white;
    border: 3px dotted yellow;
    position: absolute;
    top: 0;
    left: 0
}