/* css for modal */
.modal-close-btn {
    border: none;
    border-radius: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
  }

.claim-estimator-form-button{
  float: right;
}

.attentis-border-bottom-link{
  border: none;
  background: none;
  border-bottom: solid 2px #036cb6 !important;
  padding: 0;
  padding-right: 1%;
}