.service-icon {
    width: 100%;
    max-height: 70px;
    max-width: 80px;
    border-radius: 5px;
}

/* Calculator */
.fea29ffd-ef80-46a2-a774-bd0fadada9fb{fill:none;}.a58afe6f-8a8c-4e01-9568-9dc5c3ce7208,.fea29ffd-ef80-46a2-a774-bd0fadada9fb{stroke:black ;stroke-miterlimit:10;stroke-width:2px;}.a58afe6f-8a8c-4e01-9568-9dc5c3ce7208{fill:#f9f9f9;}

/* Telehealth */
.a71bf5fa-1fb5-4a14-815a-136cb7d5e52c{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}