/* Custom CSS */
.cursor-print-details{
    cursor: pointer;
}

@page {
    size: auto;
    margin: 0;    
 }

@media print {

    .hide-print {
        display: none;
    }
    a[href]:after {
        display: none !important;
     }

  }