div.selected-items-div {
   padding-top: 10px;
}

li[aria-selected=true] > div {
   background-color: #419cf9;
   color: #fff;
   text-decoration: none;
}

div.selected-item {
   display: inline-block;
   padding: 0.5rem 0.75rem;
   margin: 0.2rem;
   font-weight: 400;
   text-transform: none;
   text-align: center;
   font-size: 0.75rem;
   color: #343741;
   background-color: #fff;
   border: 1px solid #343741;
   border-radius: 15rem;
}

div.selected-item button {
   border: none;
   background-color: #fff;
   color: #343741;
}

li.disabled-list-item {
   cursor: not-allowed !important;
}

li.list-item-checked::before {
   position: absolute;
   left: 1.3rem;
   margin-top: 8px;
   content: "";
   width: 6px;
   height: 12px;
   border-bottom: 2px solid #333;
   border-right: 2px solid #333;
   transform: rotate(45deg);
   -o-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
}

li.disabled-list-item div,
li.disabled-list-item div span,
li.disabled-list-item div span span {
   pointer-events: none;
}

.visuallyHidden {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
 }